@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Roboto mono';
}
.grid-container{
    max-width: 980px;
    margin: auto;
}
.home-body{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}
a{
    text-decoration: none;
    display: inline;
    color: black;
}
header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}
header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color: white
}
nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}
nav .nav-logo-container{
    margin-left: 50px;
}
nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}
nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .profile-link a{
    color: black;
    border-bottom: 1px solid black;
    font-family: 'Roboto mono';
    font-weight: 600;
    font-size: medium;
}

/* SECTION MAIN*/ 
.home-main {
    width: 100%;
    height: 100%;
    background-image: url('/assets/assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 120px 1fr 1fr;
    place-content: center;
}
.home-main .main{
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    justify-items: center;
    
}
.home-main .main .main-tile{
    text-align: center;
    font-size: 2rem;
    font-family: 'Roboto Mono';
    font-weight: bold;
    color: white;
    letter-spacing: 10px;
}
.home-main .main .main-more{
    width: 150px;
    height: 40px;
    background-color: #39a086;
    border: 0;
    border-radius: 20px;
    color: black;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 5px;
    margin: 0 auto;
    font-family: 'Roboto Mono';
}
.home-main .main .main-more:hover{
    background-color: #4fe6c0;;
}

/*STYLE PAGE BLOGS.HTML */

.blogs-main{
    display: grid;
}
.blogs-news-container{
    background-color: #e6e9ed;
    padding: 0 50px 40px;
}
.blog-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
    gap: 5px 5px;
}
.blogs-title{
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 10px;
}
.principal-blog-image{
    grid-column: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
}
.principal-blog-image img{
    width: 84%;
}
.blogs-info-container{
    padding: 10px;
    grid-column: 2;
}
.blogs-info-container .info-container-title{
    margin-bottom: 20px;
    font-size: 1.6rem
}
.blogs-info-container .info-container-description{
    font-size: 1rem;
    color: #225e4f;
    line-height: 1.7rem;
    margin-bottom: 20px;
}
.info-container-button{
    font-size: 1rem;
    background-color: #4fe6c0;
    padding: 10px 15px;
    box-shadow: 1px 1px 2px 2px#4fe6c0;
}
.info-container-button:hover{
    background-color: #a6bcda;
    box-shadow:1px 1px 2px 2px #688cbb;
}
.blogs-post-container{
    padding: 10px;
}
.blogs-post-container h3{
    border-bottom: 1px solid #47cfac;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.blogs-post-container .post-container{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs-post-container .post-container p{
    margin-bottom: 30px;
    font-size: 0.8rem;
}
.blogs-post-container .post-container img{
    margin-bottom: 5px;
    width: 100%;
}
footer{
    width: 100%;
    height: 110px;
    background-color: #22272d;
    text-align: center;
}
footer p{
    padding-top: 35px;
    color: wheat;
    font-size: 1rem;
}
.blogPost-img-container{
    padding: 0 50px 40px;
}
.blogPost-img-container img{
    width: 100%;
}
.blogPst-main-container{
    padding: 0 50px 40px;
}
.blogPost-main-container h3{
    font-size: 1.4rem;
    border-bottom: 1px solid #cdd2da;
}
.blogPost-main-container .grid-container h1{
    font-size: 1.8rem;
    margin-bottom: 15px;
}
.blogPost-main-container article p{
    font-size: 0.8rem;
    margin-bottom: 10px;
    line-height: 20px;
    text-align: justify;
}

.contact-main-container{
    padding:50px 40px;
    background-color: rgb(166, 179, 192);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 40px;
    place-content: center;
}
.contact-main{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 5px;
}
.contact-main img{
    display: grid;
    grid-column: 2;
    width: 100%;
}
.contact-main .contact{
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
}
.contact-main .contact a{
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
}
.contact-main .contact a span{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main .contact p{
    margin-top: 5px;
    font-size: 0.8rem;
}

.perfil{
    width: 100%;
    background-color: #c0d6e2;
    padding: 50px;
}
.perfil-grid{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}
.perfil img{
    width: 80%;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 2px #22272d;
}
.perfil img:hover{
    box-shadow: 1px 1px 3px 3px #13332b;
}
.perfil .perfil-info{
    padding: 15px;
}
.perfil .perfil-info h1{
    font-size: 1.8rem;
    color: #22272d;
    margin-bottom: 10px;
}
.perfil .perfil-info h3{
    font-size: 1.4rem;
    color: #22272d;
    margin-bottom: 5px;
}
.perfil .perfil-info p{
    font-size: 1rem;
    margin-bottom: 20px;
    color: #22272d;
}
.perfil .perfil-info p a{
    color: #7a5dbe;
}
.proyect{
    width: 100%;
    display: grid;
    grid-template-rows: 50px 4fr;
    gap: 20px;
    padding-top: 50px;
}
.proyect .proyect-h1{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.4rem;
    color: #225e4f;
    border-bottom: 1px solid #13332b;
}
.proyect .proyect-items{
    display: grid;
    width: 100%;
    grid-template-columns:repeat(auto-fit, minmax(20rem,1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
    padding: 10px;
}
.proyect .proyect-items article{
    border:1px solid#688cbb;
    border-radius: 5px;
}
.proyect .proyect-items article:hover{
    box-shadow: 1px 1px 2px 2px #cdc9dd;
}
.proyect .proyect-items img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 250px;
}
.proyect-items article h3{
    font-size: 1.2rem;
    color: #22272d;
    font-weight: bold;
    margin: 10px;

}
.proyect-items article h3 a{
    color: #446da0;

}
.proyect-items article p{
    font-size: 0.8rem;
    color: #22272d;
    margin: 5px;
}